# Ignore virtual environments
venv/
myenv/

#Ignore data folder
data/

#Ignore other files
.DS_Store

#Ignore output folder
output/

#Ignore some tests
test/test_ocr.py
test/test_image_color_analyzer.py

#Ignore some files
README.md

#Ignore some folders
preprocessed_data/
enhanced_preprocessed_data/